body{
    margin-left: 1px;
    margin-right: 1px;
    font-family:sans-serif;
}

/* Create three unequal columns that floats next to each other */
.column {
    float: left;
    padding: 10px;
    height: 300px; /* Should be removed. Only for demonstration */
  }
  
  .left, .right {
    width: 25%;
  }
  
  .middle {
    width: 50%;
  }
  
  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: block;
    clear: both;
    margin-bottom: 2px;
  }

  .textCentered{
    text-align: center;
  }