<!--Extend or inherit main template into this html and then replace these contents -->
{% extends 'main.html' %}

<!--Ginger syntax-->
{% block HeaderTitle %} 
<title>Ammar Page</title>
{% endblock%}

<!--Body Title to show where we are -->
{% block BodyTitle %} 
{% endblock%}

{% block chartScripts %}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script type="text/javascript">
  google.charts.load('current', {'packages':['corechart']});
  google.charts.setOnLoadCallback(drawChart);

  function drawChart() {
    var data = google.visualization.arrayToDataTable([
        ['Movie','Stock','Rented'],
        {% for key, value in data.items() %}
            ['{{ key }}', {{ value }}],
        {% endfor %}
    ]);

    var options = {
      title: 'Blockduster Movies Performance',
      curveType: 'function',
      legend: { position: 'right' }
    };
    var chart = new google.visualization.LineChart(document.getElementById('curve_chart'));
    chart.draw(data, options);

    var data = google.visualization.arrayToDataTable([
        ['Movie','Stock','Rented'],
        {% for key, value in data.items() %}
            ['{{ key }}', {{ value }}],
        {% endfor %}
        ]);

        var options = {
          title: 'Stock to rental index',
          is3D: true,
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart_3d'));
        chart.draw(data, options);
  }
</script>
{% endblock %}

{% block BodyRecords %}
<!--Charts showing an overall picture of the rental by movies and showing who is late-->
<div class="row">
    <div class="column left" style="width:50%">
        <div id="curve_chart" style="height: 500px"></div>
    </div>
    <div class="column middle" style="width:48%">
        <h4 class="textCentered">A list of all outstanding movies</h4>
        <table class="table table-striped table-bordered table-hover">
            <thead class="thead-dark">
              <tr>
                <th scope="col" style="background-color:Orange; color:black">Customer</th>
                <th scope="col" style="background-color:Orange; color:black">Movie</th>
                <th scope="col" style="background-color:Orange; color:black">Rented On</th>
                <th scope="col" style="background-color:Orange; color:black">Due by</th>
              </tr>
            </thead>
            <tbody>
                {% for task in Rentals %}
                <tr>
                    <td>{{task.Customer}}</td>
                    <td>{{task.Movie}}</td>
                    <td>{{task.RentedON}}</td>
                    <td>{{task.DueBY}}</td>
                </tr>
                {% endfor %}
            </tbody>
          </table>
    </div>
</div>

<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>

<div class="row" style="margin-top:20px">
    <div id="piechart_3d" style="width: 900px; height: 500px;"></div>
</div>
{% endblock%}