<!--Extend or inherit main template into this html and then replace these contents -->
{% extends 'main.html' %}

<!--Ginger syntax-->
{% block HeaderTitle %} 
<title>Ammar Page</title>
{% endblock%}

<!--Body Title to show where we are -->
{% block BodyTitle %} 
<h1 style="text-align:center">Show movie details</h1>
{% endblock%}

{% block BodyRecords %}

{% endblock%}