<!--Extend or inherit main template into this html and then replace these contents -->
{% extends 'main.html' %}

<!--Ginger syntax-->
{% block HeaderTitle %} 
<title>Ammar Page</title>
{% endblock%}

<!--Body Title to show where we are -->
{% block BodyTitle %} 
{% endblock%}

{% block BodyRecords %}
<div class="centerScreen" style="text-align:center">
    {% for task in selectedMovie %}
    <h1>{{task.Name}}</h1>
    <form action="/edit/{{task.ID}}" method="post">
        <input type="text" name="name" id="name" value="{{task.Name}}">
        <input type="text" name="total" id="total" value="{{task.NoOfCopies}}">
        <input type="text" name="rented" id="rented" value="{{task.NoOfRented}}">
        <input type="submit" value="Update">
    </form>
    {% endfor %}
  </div>
{% endblock%}