<!--Extend or inherit main template into this html and then replace these contents -->
{% extends 'main.html' %}

<!--Ginger syntax-->
{% block HeaderTitle %} 
<title>Ammar Page</title>
{% endblock%}

<!--Body Title to show where we are -->
{% block BodyTitle %} 
<h1 style="text-align:center">Blockduster movies list</h1>
{% endblock%}

{% block BodyRecords %}
<div class="content">
  <table class="table" style="width: 50%; margin-left: auto; margin-right: auto;">
    <thead>
      <tr>
        <th scope="col">Movie</th>
        <th scope="col">Total</th>
        <th scope="col">Rented</th>
      </tr>
    </thead>
    <tbody>
        {% for task in tasks %}
        <tr>
            <th scope="row"><button class="btn btn-primary" type="button" onclick="window.location.href='{{ url_for( 'details' , table='Y' ) }}';">...</button> {{task.Name}}</th>
            <td>{{task.NoOfCopies}}</td>
            <td>{{task.NoOfRented}}</td>
            <td><button class="btn btn-success" type="button" onclick="window.location.href='{{ url_for( 'edit' , id=task.ID ) }}';">Edit</button> <button class="btn btn-danger" type="button" onclick="window.location.href='{{ url_for( 'delete' , id=task.ID ) }}';">Delete</button></tr>
        {% endfor %}
    </tbody>
  </table>
</div>
{% endblock%}
